<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="bodyHeader">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eee;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">등따시고 배부른 블로그</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <a th:href="@{/post}" class="btn btn-primary me-3">글 작성</a>
          <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link" th:href="@{/signin}">로그인</a>
          </li>
          <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link" th:href="@{/signup}">회원가입</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${name}">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
              <li><a class="dropdown-item" href="#">1</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">2</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>
